# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1.pandas
2.numpy
3.seaborn

In [3]:
import pandas as pd

In [4]:
data_science_TOOLS = pd.DataFrame({
    'Data Science Tools':['Jupyther Notebook', 'RStudio','Apache Spark']
})
print(data_science_TOOLS)

  Data Science Tools
0  Jupyther Notebook
1            RStudio
2       Apache Spark

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

## Exercise7

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
result = (3*4)+5

In [6]:
print(result)

17

### Create a code cell to convert minutes to hours

In [7]:
hours = 200/60
print(hours)

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create tables in markdown

## Author
Veronika